/*-- scss:defaults --*/

// Color variables
$theme-black: #4c4c4c;
$theme-white: #ffffff;
$theme-teal: #50847B;
$theme-blue: #76AADB;

// Font imports (corrected syntax)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// Base styling
$font-size-root: 20px;
$hl-font-size: $font-size-root * 3;  // ó * 0.85

$body-bg: $theme-white;
$body-color: $theme-black;
$link-color: $theme-teal;
$code-color: $theme-blue;

// Font assignments
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

pre, pre.sourceCode {
font-size: 1.175em;
}

/*-- scss:rules --*/
h1 {
  color: darken($theme-blue, 50%);
}

h2, h3, h4 {
  color: $theme-blue;
}

// Para darle aire (espacio antes de los títulos)
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
}

// Para más postas ir a ver este sitio
// https://www.productive-r-workflow.com/quarto-tricks
