/* styles.css */
---
---

@import "{{ site.theme }}";
body {
  font-family: 'Noto Sans', Sans-Serif;
  color: #333;
  font-size: 18px;
}

.sidebarPanel {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3,h1,h2,h4,h4,h6 {

  font-family: 'Noto Sans', Sans-Serif
}

p {
  color: black;font-size: 18px;
  font-family: 'Noto Sans', Sans-Serif;
}

input, .shiny-input-container {
  margin-bottom: 15px;
}

.shiny-input-container {
  display: flex;
  flex-direction: column;
}

.plot {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

nav {
	border-radius: 6px;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	background-color: #f5f5f5;
}

.navbar-header {
  display: none; /* Completely hide the navbar */
  }
  
#pag li:nth-child(3) {
    display: none; /* Hides the third navbarMenu completely */
}

#pag li:nth-child(2) {
    display: none; /* Hides the third navbarMenu completely */
}
/*li {
  float: left;
  
}*/
.dropdown-menu li{float: none!important;}
a {
  display: block;
  padding: 8px;
  background-color: #f5f5f5;
}

ul {  
  background-color: #f5f5f5;
  color: #f5f5f5
  /*  position: fixed;  para fijar el navbar
  top: 0;
  width: 100%;*/
}

.panel-body-monitor{
  background: #fff;
  border-color: #195E58;
  background-color: #fff;
  color: #1e293b;
}
.panel-body-monitor:hover {
  background-color: #195E58;
  color: #1e293b
  
}
.button-81,.button-82{border-radius: 5px;  box-sizing: border-box;font-size:16px;  cursor: pointer;  font-weight: 600;  text-align: center; border: 0 ;padding: 1rem 1.6rem; line-height: 1.3;
  text-decoration: none ;
  text-decoration-thickness: auto;text-transform: uppercase;}
  
.button-81 {
  background-color:#195E58;
  color: white;
  display: inline-block;
transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.button-82 {
  
  background-color:#2E9998;
  border-color: #2E9998;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;

 

  text-align: center;
 
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82:hover,.button-81:hover{
  background-color: #000;color:#fff


}
#tecno-download_database{margin-bottom: 20px;}
@media screen and (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
  .button-82 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.panel-body{ display:flex; flex-direction: row; justify-content: center; align-items: center;}
.panel-body a{margin: 20px 0;}
.panel-body a:nth-child(2){margin: 20px 20px;}
.panel-heading h3{color: #fff!important;}
@media screen and (min-width:768){
  .panel-heading h3{padding: 10px 0!important;margin: 0;}
}
@media screen and (max-width: 767px) {
.panel-body{flex-direction: column!important;}
.panel-body a{margin: 0 15px ; flex-basis: 100%;width: 100%; display: block; font-size: 16px;}
.panel-body h3{margin: 10px 0!important;}
.panel-heading h3{padding: 10px !important;margin: 0;}
}
.invers-download_database,.shiny-download-link{display: block;
  text-transform: uppercase;
  color: var(--blanco);
  padding: 20px;
  background-color: var(--accent-color);
  text-align: center;
  font-weight: 600;
  border-radius: 5px; }
  .invers-download_database:hover,.shiny-download-link:hover{background-color: #000;}
